ASPNETCORE_ENVIRONMENT=Development
COMMENTS_DB_PASSWORD=Comments-Db_2026!
COMMENTS_ENABLE_LOADTEST_CAPTCHA=true
COMMENTS_SWAGGER_ENABLED=true
COMMENTS_STORAGE_ROOT=/data/uploads
COMMENTS_HTTP_PORT=8080
COMMENTS_ALLOWED_HOSTS=*
