@if (image; as currentImage) {
  <div
    (click)="close()"
    (wheel)="onWheel($event)"
    [attr.aria-label]="currentImage.name"
    [class.is-closing]="isClosing"
    aria-modal="true"
    class="lightbox"
    role="dialog"
    tabindex="-1">
    <div
      (click)="$event.stopPropagation()"
      (wheel)="$event.stopPropagation()"
      class="lightbox-toolbar">
      <button
        (click)="zoom(-0.25)"
        [disabled]="scale === 0.25"
        aria-label="Zoom out"
        class="icon-button"
        title="Zoom out"
        type="button">
        <ng-icon aria-hidden="true" name="lucideMinus" size="1.1rem" />
      </button>
      <span>{{ scale * 100 | number: '1.0-0' }}%</span>
      <button
        (click)="zoom(0.25)"
        [disabled]="scale === 3"
        aria-label="Zoom in"
        class="icon-button"
        title="Zoom in"
        type="button">
        <ng-icon aria-hidden="true" name="lucidePlus" size="1.1rem" />
      </button>
      <a
        (click)="$event.stopPropagation()"
        [download]="currentImage.downloadName || currentImage.name"
        [href]="currentImage.url"
        aria-label="Download image"
        class="lightbox-download"
        title="Download image">
        <ng-icon aria-hidden="true" name="lucideDownload" size="1rem" />
      </a>
      <button
        (click)="close()"
        aria-label="Close image"
        class="icon-button close-button"
        title="Close image"
        type="button">
        <ng-icon aria-hidden="true" name="lucideX" size="1.35rem" />
      </button>
    </div>
    <img
      (click)="$event.stopPropagation()"
      (wheel)="onWheel($event)"
      [alt]="currentImage.name"
      [src]="currentImage.url"
      [style.transform]="'scale(' + scale + ')'" />
  </div>
}
